@model Taikhoan
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HavarShop </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                   @* <form>*@
                        @using(Html.BeginForm("Login","Acces", FormMethod.Post)){
                        <h1>Đăng Nhập</h1>
                        <div>
                            @Html.TextBoxFor(x=>x.TaiKhoan1,new{@class="form-control",placeholder="Tài Khoản....",required="required",autofocus="autofocus"})
                           @* <input type="text" class="form-control" placeholder="Username" required="" />*@
                        </div>
                        <div>
                            @Html.TextBoxFor(x=>x.MatKhau,new{@class="form-control",type="password",placeholder="Mật khẩu...."})
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit" id="button-confirm">Đăng nhập</button>
                            <a class="reset_pass" href="#">Quên mật khẩu?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                               Bạn chưa có tài khoản?
                                <a href="#signup" class="to_register"> Đăng Ký </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> HavarShop </h1>
                                <p>Đỗ Đình Nam</p>
                            </div>
                        </div>
                        }
                   @* </form>*@
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Đăng Ký</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Tài Khoản" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Mật Khẩu" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="">Đăng ký</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Bạn đã có tài khoản ?
                                <a href="#signin" class="to_register"> Đăng Nhập </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> HavarShop</h1>
                                <p>Đỗ Đình Nam</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
